.fondo1 {
    background-color:red;
}

.titulo1 {
    color: aliceblue;
    font-size: 3em;
}

.pie1 {
    color: aliceblue;
    text-align:bottom;
}

.subtitulo1 {
    text-align: center; 
    font-size: 5em;
    font-style: oblique;
}

.subsub1 {
    text-align: center;
    font-size: 3em;
    color: blue;
    
}

.paginas1 {
    text-align: end;
    font-size: 2em;
    color: aliceblue;
}







.fondo2 {
    background-color:red;
}

.titulo2 {
    color: aliceblue;
    font-size: 3em;
}

.pie2 {
    color: aliceblue;
    text-align:bottom;
}

.subtitulo2 {
    text-align: center; 
    font-size: 5em;
    font-style: oblique;
}

.subsub2 {
    text-align: center;
    font-size: 3em;
    color: blue;
    
}

.paginas2 {
    text-align: end;
    font-size: 2em;
    color: aliceblue;
}





.fondo3 {
    background-color:red;
}

.titulo3 {
    color: aliceblue;
    font-size: 3em;
}

.pie3 {
    color: aliceblue;
    text-align:bottom;
}

.subtitulo3 {
    text-align: center; 
    font-size: 5em;
    font-style: oblique;
}

.subsub3 {
    text-align: center;
    font-size: 3em;
    color: blue;
    
}

.paginas3 {
    text-align: end;
    font-size: 2em;
    color: aliceblue;
}



.fondo4 {
    background-color:red;
}

.titulo4 {
    color: aliceblue;
    font-size: 3em;
}

.pie4 {
    color: aliceblue;
    text-align:bottom;
}

.subtitulo4 {
    text-align: center; 
    font-size: 5em;
    font-style: oblique;
}

.subsub4 {
    text-align: center;
    font-size: 3em;
    color: blue;
    
}

.paginas4 {
    text-align: end;
    font-size: 2em;
    color: aliceblue;
}





.fondo5 {
    background-color:red;
}

.titulo5 {
    color: aliceblue;
    font-size: 3em;
}

.pie5 {
    color: aliceblue;
    text-align:bottom;
}

.subtitulo5 {
    text-align: center; 
    font-size: 5em;
    font-style: oblique;
}

.subsub5 {
    text-align: center;
    font-size: 3em;
    color: blue;
    
}

.paginas5 {
    text-align: end;
    font-size: 2em;
    color: aliceblue;
}